.cardTextWrapRight {
  margin: 0px 15px;
  text-align: start;
  width: 300px;

  @media (max-width: 1250px) {
    width: 100%;
  }
  

  .cardTitle {
    font-size: 1.25rem;
    width: 100%;
  }

  .cardDescription {
    width: 100%;

    font-size: 16px;
    line-height: 25px;
    color: #838485;
    margin-top: 10px;
  }
}
.cardTextwrap {
  text-align: right;
  width: 300px;
  margin: 0px 15px;

  @media (max-width: 1250px) {
    width: 200px;
  }

  @media (max-width: 1250px) {
    width: 100%;
  }

  .cardTitle {
    font-size: 1.25rem;
    width: 100%;
  }

  .cardDescription {
    width: 100%;

    font-size: 16px;
    line-height: 25px;
    color: #838485;
    margin-top: 10px;
  }
}
