.pricing {
  padding: 100px 0px;

  .cardsWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    @media (max-width: 950px) {
      flex-direction: column;
    }
  }
}
