.home {
  margin-top: 100px;
  padding: 100px 0px;

  .homeWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .homeTitle {
      font-size: 40px;
      font-weight: 400;
    }

    .homeDescription {
      max-width: 600px;
      font-size: 16px;
      line-height: 25px;
      margin: auto;
      margin-top: 20px;
      color: rgb(100, 100, 100);
    }

    .homeBackgroundImgWrap {
      margin-top: 20px;
      img {
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid rgb(221, 0, 255);
      }

      .backImg1 {
        top: 3%;
        left: 7%;
        animation: bounce 1s infinite;

        @media (max-width: 773px) {
          top: 20%;
        }

        @media (max-width: 555px) {
          top: 24%;
        }
      }

      .backImg2 {
        top: -10%;
        left: 30%;
        animation: bounce 0.7s infinite;
      }

      .backImg3 {
        bottom: -10%;
        right: 2%;
        animation: bounce 1.5s infinite;
      }

      .backImg4 {
        bottom: -15%;
        left: 0;
        width: 90px;
        height: 90px;
        animation: bounce 0.8s infinite;
      }

      .backImg5 {
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        animation: bounce 1.3s infinite;

        @media (max-width: 773px) {
          top: -15%;
        }

        @media (max-width: 450px) {
          top: -25%;
        }
      }

      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px); /* Подпрыгивание на 1 см (10px) */
        }
      }
    }

    .homeSliderWrap {
      position: relative;
      z-index: 1;
      width: 100%;
      @media (max-width: 550px) {
        display: none;
      }

      .videoWrap {
        width: 250px;
        height: 500px;
        margin: 0px 10px;

        .video {
          width: 238px;
          height: 505px;
          border-radius: 35px;
          object-fit: cover;
          border: 2px solid black;
          top: 0;
          left: 0;
        }
      }

      & img {
        position: absolute;
        width: 555px;
        z-index: 10;
        top: -25px;
        left: 51%;
        transform: translate(-50%);

        @media (max-width: 550px) {
          width: 325px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
