.listItemWrap,
.listItemWrap a {
  padding: 5px;
  margin: 0px 15px;
  font-size: 20px;
  transition: 0.2s;
  color: rgb(70, 70, 70);

  @media (max-width: 950px) {
    font-size: 18px;
    margin: 0px 10px;
    text-align: center;
    display: flex;
  }

  &:hover {
    cursor: pointer;
    color: rgb(142, 98, 255);
    transition: 0.2s;
  }
}
